@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0a0a0a;
  color: white;
  overflow: hidden;
}

.game-font {
  font-family: 'Black Ops One', system-ui;
}
